@font-face {
    font-family: 'Birds of Paradise ╕ PERSONAL USE ONLY';
    src: url('./Birds of Paradise ╕ PERSONAL USE ONLY.ttf') format('truetype');
  }

  .home{
    margin-top: 20vh;
    padding-left: 10vh;
    display: flex;
    align-items: center;
    font-family: 'Birds of Paradise ╕ PERSONAL USE ONLY', sans-serif;
    font-size: 5rem;
    color: black;
   }

.expense{
  margin-top: 10vh;
  align-items: center;
  text-align: center;
}