.navbar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 1000;
}

.nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  color: gold;
  font-size: larger;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
  border: 2px solid gold;
  border-radius: 15px;
  height: 50px;
  width: 80px;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), 
    url('./background.jpg');
  cursor: pointer;
}
