.navbar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 1000;
}

.nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  color: black;
  font-size: larger;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
  border: 2px solid silver;
  border-radius: 15px;
  height: 50px;
  width: 80px;
  background-image: 
    linear-gradient(135deg, #1e3c72, #2a5298, #89f7fe, #66a6ff);
  cursor: pointer;
}
/* 
.navbar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 1rem;
    border-right: 1px solid #ddd;
    z-index: 1050; /* Above other content */
} */
