
.expense{
    margin-top: 30vh;
    color: black;
    text-align: center;
    align-items: center;
    margin-bottom: 10vh;
    gap: 20rem;
}

.expense h1{
   font-family: 'Times New Roman', Times, serif;
   font-size: 5rem;
   font-weight: lighter;
 
    }

form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 200px;
  padding: 5px;
    background-image: 
    linear-gradient(135deg, #1e3c72, #2a5298, #89f7fe, #66a6ff);
  color: silver;
  font-weight: bolder;
  font-size: larger;
}


.box{
    height: 40px;
    width: 150px;
    border-radius: 10px;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  margin-bottom: 1rem;
  flex-wrap: wrap; 
}

.form-row label {
  color: gold;
  font-weight: bold;
}

.button{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid silver;
      background-image: 
   linear-gradient(135deg, #1e3c72, #2a5298, #89f7fe, #66a6ff);

}

.button:hover{
    background-color: green;
    color: black;
    font-weight: bolder;
    border: 3px solid silver;
    box-shadow: 3px 3px 3px 3px silver;
}
