.footer {
  width: 100%;
  height: 150px;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), 
    url('./background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: gold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically center */
  align-items: center;
}

.main {
  flex: 1;
}
